<IfModule mod_rewrite.c>
  RewriteEngine On

  # redirigee les pages avec un .php vers une page sans .php
  RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
  RewriteRule ^(.+)\.php$ http://%{HTTP_HOST}/$1 [R=301,L]

  # permet de mettre le nom de la page sans le .php
  RewriteRule ^([^/.]+)$ $1.php [L]


</IfModule>

ErrorDocument 404 /assets/error/404.php
ErrorDocument 500 /assets/error/500.php
